<div class="container">
  
    <h1>List des etablissement</h1>
    <h2>Filter by :</h2>
    <button mat-raised-button (click)="clickCode()" color="primary" style="margin-bottom: 20px; margin-right: 13px;">Code</button>
    <button mat-raised-button (click)="clickReg()" color="warn" style="margin-bottom: 20px; margin-right: 13px;">Region</button>
    <button mat-raised-button (click)="clickCt()" color="success" style="margin-bottom: 20px;">Categorie</button>
    <form class="example-form">
        <mat-form-field *ngIf="buttCode" class="example-full-width">
          <mat-label>Code</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Entrer un code" style="width: 100%;">
        </mat-form-field>
        <mat-form-field *ngIf="buttReg" class="example-full-width">
          <mat-label>Region</mat-label>
          <input matInput (keyup)="applyFilter2($event)" placeholder="Entrer une region" style="width: 100%;">
        </mat-form-field>
        <mat-form-field *ngIf="buttCt" class="example-full-width">
          <mat-label>Categorie</mat-label>
          <input matInput (keyup)="applyFilter3($event)" placeholder="Entrer une categorie" style="width: 100%;">
        </mat-form-field>
      </form>
      <agm-map 
         [latitude]='lat' 
         [longitude]='long'
         [zoom]='zoom'
         >
         <div *ngFor="let marker of data">
         
          <agm-marker 
               
              [latitude]="marker.latitude" 
                [longitude]="marker.longitude"
                >    
                    <agm-info-window #infoWindow> 
                        <a (click)="redrect(marker)">{{ marker.nom }}</a>
                  </agm-info-window>
          </agm-marker>
          
          </div>
      </agm-map>
    
  </div>
