<div class="container">
  
    <h1>List des etablissement</h1>
    
      <agm-map 
         [latitude]='lat' 
         [longitude]='long'
         [zoom]='zoom'
         >
          
          <agm-marker 
              *ngFor="let marker of data" 
              [latitude]="marker.latitude" 
                [longitude]="marker.longitude"
                >    
                    <agm-info-window #infoWindow> 
                        <a (click)="redrect(marker)">{{ marker.nom }}</a>
                  </agm-info-window>
          </agm-marker>
          
      </agm-map>
    
  </div>
